*{
    margin:0;
    padding:0;
}

body{
    background-color: lightgrey;
}

nav{
    height:80px;
    background-color: rgb(150, 120, 80);
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}

ul li{
    margin:20px;
    padding:10px;
}

a{
    text-decoration: none;
    color:black;
    padding: 35px;
    

}

a:hover{
    background-color: rgba(251, 215, 145, 0.237);
    color:rgb(239, 223, 188);
    font-weight:1000;
}

@media(width<1000px){
    *{
        margin:0;
        padding:0;
    }

    ul{
        display: block;
        background-color: rgb(220, 147, 52);
        padding: 8px;
    }

}